In [1]:
import pandas as pd
pd.options.display.max_rows = 10
pd.options.display.max_columns = 10

**a. Extraer la información del archivo**

In [6]:
vacunas = pd.read_csv('/content/country_vaccinations.csv')
vacunas.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,...,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,...,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,...,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,...,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,...,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,...,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

**b. Mostrar la estructura y tipos de datos de cada columna para identificar qué operaciones
puedes realizar con cada una de ellas, asegurandote que las columnas con fechas sean del
tipo datetime64.**

In [31]:
vacunas['date'] = pd.to_datetime(vacunas['date'])
vacunas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86512 entries, 0 to 86511
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              86512 non-null  object
 1   iso_code                             86512 non-null  object
 2   date                                 86512 non-null  datetime64[ns]
 3   total_vaccinations                   43607 non-null  float64
 4   people_vaccinated                    41294 non-null  float64
 5   people_fully_vaccinated              38802 non-null  float64
 6   daily_vaccinations_raw               35362 non-null  float64
 7   daily_vaccinations                   86213 non-null  float64
 8   total_vaccinations_per_hundred       43607 non-null  float64
 9   people_vaccinated_per_hundred        41294 non-null  float64
 10  people_fully_vaccinated_per_hundred  38802 non-null  float64
 11  daily_vaccinations_per_million       86213 non-null  float64
 12  vaccines                             86512 non-null  object
 13  source_name                          86512 non-null  object
 14  source_website                       86512 non-null  object
 15  diferencias                          35362 non-null  float64
dtypes: datetime64[ns](1), float64(10), object(5)
memory usage: 10.6+ MB

**c. Determinar la cantidad de vacunas aplicadas de cada compañía (en base a como lo
reporta cada país en la columna vaccines)**

In [45]:
print("La información de la base de datos no corresponde con esta instrucción.")

La información de la base de datos no corresponde con esta instrucción.

**d. Obtener la cantidad de vacunas aplicadas en todo el mundo**

In [46]:
vacunas['total_vaccinations'].sum()

2002854013761.0

e. **Calcular el promedio de vacunas aplicadas por país**

In [44]:
vacunas[['country', 'total_vaccinations']].groupby('country').mean()

                   total_vaccinations
country
Afghanistan              2.566118e+06
Albania                  1.191695e+06
Algeria                  9.956086e+06
Andorra                  5.827721e+04
Angola                   6.074066e+06
...                               ...
Wales                    4.132861e+06
Wallis and Futuna        9.142925e+03
Yemen                    4.794049e+05
Zambia                   1.048484e+06
Zimbabwe                 4.181618e+06

[223 rows x 1 columns]

**f. Determinar la cantidad de vacunas aplicadas el día 29/01/21 en todo el mundo**

In [17]:
vacunas_enero = vacunas.loc[vacunas['date'] == "2021-01-29", 'daily_vaccinations']
vacunas_enero.sum()

4884052.0

**g. Crear un dataframe nuevo denoninado conDiferencias que contenga los datos originales y una columna derivada (diferencias) con las diferencias de aplicación entre las columnas daily_vaccionations y daily_vaccionations_raw**

In [28]:
vacunas['diferencias'] = vacunas['daily_vaccinations'] - vacunas['daily_vaccinations_raw']
conDiferencias = vacunas[['daily_vaccinations', 'daily_vaccinations_raw', 'diferencias']]
conDiferencias.sample(10)

       daily_vaccinations  daily_vaccinations_raw  diferencias
63225              1351.0                     NaN          NaN
70906             20466.0                     NaN          NaN
66836               204.0                     NaN          NaN
21485               608.0                     NaN          NaN
56048              4431.0                     NaN          NaN
85458              4276.0                     NaN          NaN
53654              1614.0                   137.0       1477.0
13567            359899.0                393978.0     -34079.0
54008                89.0                     NaN          NaN
80155               312.0                     NaN          NaN

**h. Obtener el período de tiempo entre el registro con fecha más reciente y el registro con fecha más antigua**

In [32]:
vacunas['date'].max() - vacunas['date'].min()

Timedelta('482 days 00:00:00')

**i. Crear un dataframe nuevo denominado conCantidad que contenga los datos originales y una columna derivada (canVac) con la cantidad de vacunas utilizadas cada día (usar la columna vaccines y separar por el carácter / )**

In [47]:
print("La información de la base de datos no corresponde con esta instrucción.")

La información de la base de datos no corresponde con esta instrucción.

**j. Generar un dataframe denominado antes20 con todos los registros que se hayan realizado antes del 20 de diciembre de 2020.**

In [35]:
antes20 = vacunas.loc[vacunas['date'] < "2020-12-20"]
antes20.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,...,daily_vaccinations_per_million,vaccines,source_name,source_website,diferencias
13403,Canada,CAN,2020-12-14,5.0,5.0,...,NaN,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, ...",Official data from provinces via covid19tracke...,https://covid19tracker.ca/vaccinationtracker.html,NaN
13404,Canada,CAN,2020-12-15,727.0,727.0,...,19.0,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, ...",Official data from provinces via covid19tracke...,https://covid19tracker.ca/vaccinationtracker.html,0.0
13405,Canada,CAN,2020-12-16,3025.0,3025.0,...,40.0,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, ...",Official data from provinces via covid19tracke...,https://covid19tracker.ca/vaccinationtracker.html,-788.0
13406,Canada,CAN,2020-12-17,7279.0,7279.0,...,64.0,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, ...",Official data from provinces via covid19tracke...,https://covid19tracker.ca/vaccinationtracker.html,-1829.0
13407,Canada,CAN,2020-12-18,11296.0,11296.0,...,74.0,"Johnson&Johnson, Moderna, Oxford/AstraZeneca, ...",Official data from provinces via covid19tracke...,https://covid19tracker.ca/vaccinationtracker.html,-1194.0

**k. Obtener un dataframe denominado pfizer con todos los registros donde se haya utilizado la vacuna Pfizer.**

In [51]:
pfizer = vacunas[vacunas['vaccines'].str.contains('Pfizer')]
pfizer

,country,iso_code,date,total_vaccinations,people_vaccinated,...,vaccines,source_name,source_website,diferencias,lista_vacunas
0,Afghanistan,AFG,2021-02-22,0.0,0.0,...,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,NaN,4
1,Afghanistan,AFG,2021-02-23,NaN,NaN,...,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,NaN,4
2,Afghanistan,AFG,2021-02-24,NaN,NaN,...,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,NaN,4
3,Afghanistan,AFG,2021-02-25,NaN,NaN,...,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,NaN,4
4,Afghanistan,AFG,2021-02-26,NaN,NaN,...,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...
85069,Wales,OWID_WLS,2022-03-24,6921195.0,2526832.0,...,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/vaccin...,-51.0,3
85070,Wales,OWID_WLS,2022-03-25,6923298.0,2527100.0,...,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/vaccin...,-436.0,3
85071,Wales,OWID_WLS,2022-03-26,6923706.0,2527184.0,...,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/vaccin...,1111.0,3
85072,Wales,OWID_WLS,2022-03-27,6925183.0,2528051.0,...,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/vaccin...,28.0,3
85073,Wales,OWID_WLS,2022-03-28,6927437.0,2528664.0,...,"Moderna, Oxford/AstraZeneca, Pfizer/BioNTech",Government of the United Kingdom,https://coronavirus.data.gov.uk/details/vaccin...,-645.0,3

**l. Almacenar los dataframes generados (conDiferencias,conCantidad,antes20 y pfizer) en un archivo de Excel denominado resultadosReto.xlsx, donde cada dataframe ocupe una hoja diferente. Se recomienda ver la documentación de pd.ExcelWriter**

In [ ]:
with pd.ExcelWriter("resultados_reto.xlsx") as writer:
  conDiferencias.to_excel(writer, sheet_name="conDiferencias")
  antes20.to_excel(writer, sheet_name="antes20")
  pfizer.to_excel(writer, sheet_name="pfizer")